
@{
    ViewBag.Title = "single_page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shrimp and colorful vegetable easy recipes - Jewel Theme</title>

    <meta name="description" content="Foody HTML Template by Jewel Theme">

    <meta name="author" content="Jewel Theme">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- Include modernizr-2.8.0.min.js -->
    <script src="~/Content/asset/js/modernizr-2.8.0.min.js"></script>

    <!-- Bootstrap  -->
    <link href="~/Content/asset/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icon Fonts  -->
    <link href="~/Content/asset/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/asset/css/linecons-font-style.css" rel="stylesheet">

    <!-- Plugins  -->
    <link href="~/Content/asset/css/jquery.fs.boxer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/asset/css/owl.carousel.css">

    <!-- Custom Styles -->
    <link href="~/Content/asset/css/style.css" rel="stylesheet">
    <link href="~/Content/asset/css/responsive.css" rel="stylesheet">

</head>
<body class="v2 single">

    <!-- Menu -->
    <div class="navbar-fixed-top main-menu-continer">
        <!-- Responsive Navigation -->
        <button type="button" class="btn menubar-toggle">
            <i class="fa fa-bars"></i>
        </button> <!-- /.navbar-toggle -->

        <div id="main-menu" class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Logo -->
                <a class="navbar-brand" href="./">
                    <img src="~/Content/images/logo.png" alt="Foody Logo">
                </a><!-- /.navbar-brand -->
            </div> <!-- /.navbar-header -->

            <nav class="navbar-collapse clearfix" role="navigation">
                <!-- Main navigation -->
                <ul id="headernavigation" class="nav navbar-nav">
                    <li><a href="index.html#top-section">Home</a></li>
                    <li><a href="index.html#welcome">About</a></li>
                    <li><a href="index.html#our-menus">Menu</a></li>
                    <li><a href="index.html#events">Events</a></li>
                    <li class="menu-item-has-children active">
                        <a href="index.html#blog">Blog</a>
                        <ul class="sub-menu">
                            <li>@Html.ActionLink("OurMenu", "OurMenu", "Home")</li>
                            <li>@Html.ActionLink("Blog page", "blog_page", "Home")</li>
                            <li>@Html.ActionLink("Single page", "single_page", "Home")</li>

                        </ul><!-- /.sub-menu -->
                    </li><!-- /.menu-item-has-children -->
                    <li><a href="index.html#our-crew">Team</a></li>
                    <li><a href="index.html#contact">Contact</a></li>
                </ul> <!-- /.nav .navbar-nav -->
            </nav> <!-- /.navbar-collapse  -->

            <div class="nav-social-btn">
                <a href="https://twitter.com/" class="twitter-btn"><i class="fa fa-twitter-square"></i></a>
                <a href="https://www.facebook.com/" class="facebook-btn"><i class="fa fa-facebook-square"></i></a>
                <a href="https://www.pinterest.com/" class="pinterest-btn"><i class="fa fa-pinterest-square"></i></a>
                <a href="https://www.youtube.com/" class="youtube-btn"><i class="fa fa-youtube-square"></i></a>
            </div><!-- /.nav-social-btn -->
        </div><!-- /#main-menu -->

    </div><!-- /.main-menu-continer -->
    <!-- Menu End -->



    <div class="container">
        <div class="row">

            <!-- Main Container -->
            <div id="main-container" class="main-container pull-right">
                <!-- Our Blog Section -->
                <section id="blog">
                    <div class="blog-section section-padding single-page">
                        <div class="section-title-container">
                            <h2 class="section-title">Our Blog </h2>
                        </div><!-- /.section-title-container -->

                        <div class="blog-post-container">
                            <article class="post type-post">
                                <div class="post-thumbnail">
                                    <img src="~/Content/images/blog/single-post.jpg" alt="Post Thumbnail Image">
                                </div><!-- /.post-thumbnail -->
                                <div class="post-content">
                                    <h2 class="post-title">
                                        <a href="#">Shrimp and colorful vegetable easy recipes</a>
                                    </h2>
                                    <div class="entry">
                                        <p>
                                            <strong>An awesome and tasty recipes of Shrimp and Colorful Vegetables that make you crazy.</strong>
                                        </p>
                                        <p>
                                            We have Developed a recipes of shrimp mixed with vegetables. And it got a good response of you and we bereave your taste. Well let us see what behind of this crazy tasty dishes.
                                        </p>
                                        <p>
                                            Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                                        </p>
                                        <blockquote>
                                            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                                        </blockquote>
                                        <p>
                                            Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                                        </p>
                                        <p>
                                            Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                                        </p>
                                    </div><!-- /.entry -->
                                    <footer class="post-meta">
                                        <div class="entry-meta pull-left">
                                            <span class="entry-date">
                                                <i class="fa fa-clock-o"></i>
                                                <time datetime="2020-04-11T14:52:56+00:00"> April 11, 2020 </time>
                                            </span>
                                            
                                        </div><!-- /.entry-meta -->
                                    </footer><!-- /.post-meta -->
                                </div><!-- /.post-content -->
                            </article><!-- /.post-content -->

                            <nav class="navigation post-navigation" role="navigation">
                                <div class="nav-links">
                                    <a href="#" class="prev" rel="prev">
                                        <span class="meta-nav">Previous Post</span>
                                        <span class="nav-icon"><i class="fa fa-angle-double-left"></i></span>
                                        Previous Post title goes here ...
                                    </a>
                                    <a href="#" class="next" rel="next">
                                        <span class="meta-nav">Next Post</span>
                                        <span class="nav-icon"><i class="fa fa-angle-double-right"></i></span>
                                        Previous Post title goes here ...
                                    </a>
                                </div><!-- .nav-links -->
                            </nav><!-- /.post-navigation -->

                            <div id="comments" class="comments-area">
                                <h3 class="comments-title">
                                    0 Comments
                                </h3><!-- /.comments-title -->

                               



                                <div id="respond" class="comment-respond">
                                    <h4 id="reply-title" class="comment-reply-title">
                                        Leave a Reply
                                    </h4><!-- /#reply-title -->
                                    <form action="#" method="post" id="commentform" class="comment-form">
                                        <input id="author" class="form-control" name="author" type="text" value="" size="30" aria-required="true" placeholder="Name" title="Name" required>
                                        <input id="email" class="form-control" name="email" type="email" value="" size="30" aria-required="true" placeholder="Email" title="Email" required>
                                        <input id="url" class="form-control" name="url" type="url" value="" size="30" placeholder="URL" title="URL">
                                        <textarea id="comment" class="form-control" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment" title="Comment" required></textarea>
                                        <button name="submit" class="btn btn-sm btn-default full-width" type="submit" id="submit">Post Comment</button>
                                    </form><!-- /#commentform -->
                                </div><!-- /#respond -->


                            </div><!-- /#comments -->


                        </div><!-- /.blog-post-container -->
                    </div><!-- /.blog -->
                </section><!-- /#blog -->
                <!-- Our Blog Section End -->
            </div><!-- /#main-container -->
            <!-- Main Container End -->

            <div id="scroll-to-top">
                <div class="go-to-top">
                    <i class="fa fa-angle-double-up"></i>
                </div><!-- /.go-to-top -->
            </div><!-- /#scroll-to-top -->
            <!-- Footer Section -->
            <footer id="footer-section" class="main-container pull-right">

               
            </footer><!-- /#footer-section -->
            <!-- Footer Section End -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <!-- Include jquery.min.js plugin -->
    <script src="~/Content/asset/js/jquery-2.1.0.min.js"></script>

    <!-- Include JavaScript Plugins -->
    <script src="~/Content/asset/js/plugins.js"></script>

    <!-- Include jquery.parallax.js Plugins -->
    <script src="~/Content/asset/js/jquery.parallax.js"></script>

    <!-- Include JavaScript Functions -->
    <script src="~/Content/asset/js/functions.js"></script>

</body>
</html>

